target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

src/main/resources/fabric/network/artifact/
src/main/resources/fabric/network/crypto-config/
src/main/resources/fabric/network/data/
src/main/resources/fabric/network/log/

src/main/java/cn/edu/ncepu/dataAggregate/application/.gradle/
src/main/java/cn/edu/ncepu/dataAggregate/application/build/
src/main/java/cn/edu/ncepu/dataAggregate/chaincode/.gradle/
src/main/java/cn/edu/ncepu/dataAggregate/chaincode/build/

src/main/java/cn/edu/ncepu/dataAggregate/application/build.gradle
src/main/java/cn/edu/ncepu/dataAggregate/chaincode/build.gradle


